.clearfix:after {
    content: "";
    display: block;
    line-height: 0;
    visibility: hidden;
    height: 0;
    clear: both;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    width: 100%;
    height: 1200px;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    font-size: 14px;
    font-family: -apple-system, Helvetica, sans-serif;
    line-height: 1.5;
    /* transition: 0.3 ease-in-out; */
}

header{
    position: relative;
    z-index: 10000;
}
.title ul li {
    float: left;
    height: 50px;
    background-color: rgb(49, 124, 251);
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
}

.title ul li:nth-child(1) img {
    width: 35px;
    vertical-align: middle;
}

.title ul li:nth-child(1) {
    width: 20%;
}

.title ul li:nth-child(2) {
    width: 60%;
}

.title ul li:nth-child(3) img {
    width: 20px;
    vertical-align: middle;
}

.title ul li:nth-child(3) {
    width: 20%;
}

.date div {
    float: left;
    width: 33.3%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: black;
}

.date .point-ringt,
.date .point-left {
    width: 30px;
    height: 30px;
    background-color: rgb(204, 204, 204);
    border-radius: 15px;
    color: #fff;
    vertical-align: middle;
    line-height: 30px;
    margin-top: 10px;
}

.date .point-ringt {
    float: left;
}

.date .point-left {
    float: right;
}

.box ul li {
    display: block;
}

.box ul li div {
    float: left;
    text-align: center;
    color: rgb(49, 124, 251);
    margin: 10px 0;
}

.box ul li .year {
    width: 30%;
}

.box ul li .article {
    width: 60%;
    text-align: left;
    border-left: 2px dotted rgb(223, 222, 222);
    padding: 0 10px;
}

.container {
    width: 100%;
    height: 164px;
    position: absolute;
    top: -115px;
    z-index: 100;
    background-color: #fff;
    transition: 0.2s ease-in-out;
}

.container ul li {
    width: 100%;
    height: 40px;
    border-bottom: 1px dotted #ccc;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #666;
}